<div style="text-align: center;">
  <h1 *ngIf="counter >= 2">My name is {{ name }}</h1>
  <h1 *ngIf="counter < 2"> Kilknij mnie</h1>
  <h4>{{wynik}}</h4>

  <h1 (click)="changeColor()" [ngStyle]="{'background-color': mycolor}">Color</h1>
  <button (click)="btnClicked()">Click</button>
  <button (click)="name='Hej po kliknięciu'">Click to chenge the name</button>
  <p><button (click)="counterClick()">Counter in Console</button></p>
  <p>Counter will show here too {{counter}}</p>

  <input type="text" [(ngModel)]="name"/>
  <!-- Do sterowania na głownej stronie -->
  <nav>
    <a routerLink="first">First</a><br>
    <a routerLink="sec">Second</a>
  </nav>
  <!-- To gdzie się bedzie wyswietlał -->
  <router-outlet></router-outlet>

  <div *ngFor="let person of people">
    <h3 [ngClass]="{'red': person.age > 25}">{{person.name}} is {{person.age}} year old</h3>
  </div>
  <h1>{{ name | uppercase }}</h1>
  <h3>{{ today | date: "dd/MM/yyyy" }}</h3>
  <h3>{{ cash | currency:"EUR" }}</h3>

</div>
