<div style="text-align: center;">
  <h1 *ngIf="counter >= 2">My name is {{ name }}</h1>
  <h1 *ngIf="counter < 2"> Kilknij mnie</h1>
  <h4>{{wynik}}</h4>

  <button (click)="btnClicked()">Click</button>
  <button (click)="name='Hej po kliknięciu'">Click to chenge the name</button>
  <p><button (click)="counterClick()">Counter in Console</button></p>
  <p>Counter will show here too {{counter}}</p>

  <input type="text" [(ngModel)]="name"/>

  <div *ngFor="let person of people">
    <h3 *ngIf="person.age > 26">{{person.name}} is {{person.age}} year old</h3>
  </div>
</div>